html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img,input,figure,figcaption{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6{font-size:16px;font-weight:normal;}
ul,ol,li{list-style:none;}
b,strong{font-weight:normal;}
em,i{font-style:normal;}
a,u{text-decoration: none;}
img{border:0;display:block;}
input{outline:none;}

/* body{
    overflow: hidden;
} */

#shop-section,#apple-footer,#apple-nav,#shop-fixed{
    width: 100%;
    margin:auto;
}

#apple-nav{
    height: 45px;
    background-color: #333333;
    position: relative;
    line-height: 45px;
}
#apple-nav ul{
    overflow:hidden;
    height: 45px;
}
#apple-nav ul li{
    float:left;
    margin-left:88px;
    line-height:45px;
    font-size:14px;
	color:#fff;
}
#apple-nav ul .hover{
    opacity: 0.65;
}
#apple-nav .apple-nav-first{
    margin-left:182px;
}
#apple-nav ul li a{
    font-size:14px;
    color:#fff;
    text-decoration-line: none;
}
#apple-nav ul li:hover{
    opacity: 0.65;
}
#last:hover{
    cursor: pointer;
}
.apple-table-box{
    position: absolute;
    right: 48px;
    top:47px;
    width: 288px;
    padding:0 20px 0 20px;
    background-color: #fff;
    display: none;
    z-index: 100;
    border: 1px solid #888;
}
.triangle{
    width: 10px;
    height: 10px;
    border:10px solid;
    position: absolute;
    top:-20px;
    left:135px;
    border-color: transparent transparent #f5eded transparent;
}
#apple-nav .apple-list{
    width: 248px;
}
.apple-list img{
    display: inline;
    margin-right:15px;
}
.apple-list td,.apple-list th{
    border-bottom: 1px solid #e3e3e3;
}
.apple-list td{
    
    color:#0070c9;
    padding-top:10px;
    padding-bottom:10px;
}

#apple-nav .apple-list th{
    
    padding-top:37px;
    text-align: center;
    padding-bottom:37px;
    color:#888888;
}
.apple-list td:hover{
    cursor: pointer;
}
#apple-nav .apple-table-last{
    
    border-bottom: none;
}
#apple-nav .ziti1{
    font-family: icomoon;
    font-size:18px;
}
#apple-nav #last{
    font-size:18px;
}

#apple-footer{
    height: 625px;
    background-color: #f2f2f2;
    padding-left:180px;
    padding-right:180px;
    
}
.footerZi{
    height: 60px;
    border-bottom: 1px solid #ccc;
    padding-top:10px;
    line-height: 25px;
    color:#888;
    font-size:10px;
}
.ulAll{
    overflow: hidden;
}
.firstUl{
    margin-top:15px;
    margin-right:110px;
    float: left;
}
.firstUl .footer-firstli{
    color:#333;
    margin-bottom:12px;
    font-size: 11px;
    line-height: 1.36364;
    font-weight: 600;
}
.firstUl a{
    font-size:10px;
    color:#555555;
}
.firstUl li{
    margin-bottom:5px;
}
.footerZi-two{
    height: 30px;
    border-bottom: 1px solid #ccc;
    line-height: 30px;
    color:#555555;
    font-size:10px;
    margin-top:10px;
    margin-bottom:10px;
}
.footerZi-two a{
    color:#0070c9;
}
.copyright{
    overflow: hidden;
}
.copyright span{
    float: left;
    font-size:10px;
    color:#555555;
    margin-right:10px;
}
.copyright-list{
    float: left;
    overflow: hidden;
}
.copyright-list li{
    float: left;
    font-size:11px;
    color:#555555;
    padding-right:10px;
    padding-left:10px;
    border-right:1px solid #d2d2d2;
}
.footerZi-three{
    font-size:10px;
    color:#555555;
    margin-top:10px;
}
.iconfont-zi{
    margin-top:15px;
    font-size:0.8em;
    color:#555;
}
#shop-fixed{
    min-height: 130px;
    bottom: 0;
    top: auto;
    border-top: 1px solid #d6d6d6;
    border-bottom: 0;
    font-size: 12px;
    line-height: 1.33341;
    font-weight: 400;
    letter-spacing: -.01em;
    font-family: SF Pro Text,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    width: 100%;
    position: fixed;
    background: #f8f8f8;
    border-bottom: 1px solid #d6d6d6;
    z-index: 999;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    left: 0;
    right: 0;
    /* display: none; */
}
.fixed-left{
    clear: both;
    width: 100%;
    max-width: 500px;
    display: inline;
    float: left;
    padding-top: 26px;
    padding-bottom: 16px;
    font-size: 12px;
    line-height: 1.33341;
    font-weight: 400;
    margin-left:175px;
}
.fixed-right{
    max-width: 380px;
    display: inline;
    float: right;
    padding-top: 24px;
    padding-bottom: 20px;
    font-size: 12px;
    line-height: 1.33341;
    font-weight: 400;
    margin-right:165px;
}
.jiaoliu{
    width: 140px;
    overflow: hidden;
    float: left;
}
.jiaoliu .ziti1{
    float: left;
    font-size:30px;
}
.zi1{
    float: right;
    margin-top:5px;
}
.zi1 h2{
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    color: #333;
    margin-bottom:3px;
}
.zi1 a{
    text-decoration: none;
    background: transparent;
    border: 0;
    color: #0070c9;
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    padding: 0;
    vertical-align: inherit;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 3px;
}
.box{
    width: 110px;
    overflow: hidden;
    float: right;
    margin-left:10px;
}
.box .ziti1{
    float: left;
    font-size:30px;
}
.right-zi,pay{
    float: left;
}
.right-zi h2{
    font-size: 32px;
    line-height: 1.125;
    font-weight: 600;
    letter-spacing: .004em;
}
.right-zi a{
    margin-left:75px;
    color: #0070c9;
    font-size: 12px;
    line-height: 1.33341;
    font-weight: 400;
}
.pay{
    width: 123px;
    height: 35px;
    margin-left:15px;
}

#shop-section{
    border-bottom: 1px solid rgba(136,136,136,.4);
    margin-bottom: 50px;
    position: relative;
}
.shop-title{
    width: 980px;
    height: 53px;
    margin: 0 auto;
    font-size: 10px;
    line-height: 1.7;
    font-weight: 400;
    letter-spacing: .042em;
    color: #000;
}
.title-zi{
    float: left;
    font-size: 24px;
    line-height: 53px;
    font-weight: 500;
    letter-spacing: 0;
    font-family: SF Pro Display,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    cursor: auto;
}
.shop-title ul{
    float: right;
    margin-top:20px;
}
.shop-title ul li{
    float: left;
    margin-left:22px;
}
.shop-title ul li a{
    font-size: 12px;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: .036em;
    font-family: SF Pro Text,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    white-space: normal;
    color: #333;
}
.shop-title ul li a:hover{
    color: #0070c9;
    text-decoration: none;
}
.heart-xinxi{
    position: absolute;
    bottom: -70px;
    right:108px;
    display: none;
}

#mac-xinxi{
    width: 980px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
#mac-xinxi .heart{
    position: absolute;
    font-size: 22px;
    right:0px;
    top:25px;
    cursor: pointer;
    color: #0070c9;
}
.mac-img{
    height: 531px;
    float: left;
    text-align: center;
}
.mac-img img{
    width: 410px;
    height: 381px;
    margin-top:25px;
}
.mac-img a{
    display: inline-block;
    font-size: 14px;
    line-height: 1.42861;
    font-weight: 400;
    color: #0070c9;
    margin-top:28px;
}
.line{
    margin-bottom: 50px;
    border-bottom: 1px solid rgba(136,136,136,.4);
}

.mac-word{
    float: right;
    margin-right:20px;
    width: 490px;
}
.mac-word h2{
    font-size: 32px;
    line-height: 1.125;
    font-weight: 600;
    letter-spacing: .004em;
    padding: 20px 0px 0 0;
    margin-bottom: 25px;
    color: #111;
}
.mac-word h3{
    font-size: 14px;
    line-height: 1.42861;
    font-weight: 400;
    color: #333;
    text-align: -webkit-match-parent;
    letter-spacing: 0;
    margin-bottom:11px;
}
.word-line{
    margin-top:35px;
    margin-bottom: 22px;
}

.processor{
    color: #333;
    margin-bottom: 30px;
}
.processor span{
    font-size: 17px;
    line-height: 1.52947;
    font-weight: 600;
    margin-top: 22px;
    display: block;
    margin-bottom: 7px;
}
.processor div{
    width: 490px;
    height: 120px;
    border: 1px solid rgba(136,136,136,.4);
    padding:10px;
    margin-top:15px;
    border-radius: 4px;
    cursor: pointer;
}
.processor div ul{
    font-size: 17px;
    font-weight: 600;
    text-align: left;
    line-height: 1.52947;

}

.storage{
    color: #333;
    margin-bottom: 30px;
}
.storage span{
    font-size: 17px;
    line-height: 1.52947;
    font-weight: 600;
    margin-top: 22px;
    display: block;
    margin-bottom: 7px;
}
.storage div{
    width: 490px;
    height: 83px;
    border: 1px solid rgba(136,136,136,.4);
    padding:10px;
    margin-top:15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 17px;
    line-height: 83px;
    font-weight: 600;
    color: #333;
}



.memory{
    color: #333;
    margin-bottom: 30px;
}
.memory span{
    font-size: 17px;
    line-height: 1.52947;
    font-weight: 600;
    margin-top: 22px;
    display: block;
    margin-bottom: 7px;
}
.memory div{
    width: 490px;
    height: 83px;
    border: 1px solid rgba(136,136,136,.4);
    padding:10px;
    margin-top:15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 17px;
    line-height: 83px;
    font-weight: 600;
    color: #333;
}
.language{
    color: #333;
    margin-bottom: 36px;
}
.language span{
    font-size: 17px;
    line-height: 1.52947;
    font-weight: 600;
    margin-top: 22px;
    display: block;
    margin-bottom: 7px;
}
.language-select{
    width: 490px;
    height: 57px;
    margin-top:15px;
    font-size: 17px;
    color: #333;
}
.mac-word h4{
    font-size: 24px;
    line-height: 1.16667;
    font-weight: 600;
    letter-spacing: .009em;
    margin-bottom: 30px;
}
.Final{
    color: #333;
    margin-bottom: 36px;
}
.Final span{
    font-size: 17px;
    line-height: 1.52947;
    font-weight: 600;
    margin-top: 22px;
    display: block;
    margin-bottom: 7px;
}
.Final div{
    overflow: hidden;
}
.Final div div{
    width: 245px;
    float: left;
    height: 83px;
    border: 1px solid rgba(136,136,136,.4);
    padding:10px;
    margin-top:15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 17px;
    text-align: center;
    line-height: 83px;
    font-weight: 600;
    color: #333;
}
.Final div div span{
    line-height: 0;
}

.Logic{
    color: #333;
    margin-bottom: 36px;
}
.Logic span{
    font-size: 17px;
    line-height: 1.52947;
    font-weight: 600;
    margin-top: 22px;
    display: block;
    margin-bottom: 7px;
}
.Logic div{
    overflow: hidden;
}
.Logic div div{
    width: 245px;
    float: left;
    height: 83px;
    border: 1px solid rgba(136,136,136,.4);
    padding:10px;
    margin-top:15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 17px;
    text-align: center;
    line-height: 83px;
    font-weight: 600;
    color: #333;
}
.Logic div div span{
    line-height: 0;
}


.shop-packaging{
    text-align: center;
    width: 980px;
    margin: 0 auto;
    margin-bottom: 66px;
}
.img-all{
    background-color: #f9f9f9;
}
.shop-packaging h1{
    font-size: 40px;
    line-height: 1.1;
    font-weight: 600;
    letter-spacing: 0;
    color: #111;
    margin-bottom: 50px;
}
.shop-packaging img{
    display: inline-block;
}
.img-zi{
    overflow: hidden;
}
.img-zi div{
    float: left;
    font-size: 14px;
    line-height: 1.42861;
    font-weight: 400;
    color: #333;
    text-align: center;
    margin-top:24px;
}
.img-zi1{
    margin:24px 260px 0 250px;
}
.img-zi2{
    margin-right:100px;
}

.mouseenter{
    border: 1px solid rgba(136,136,136,1)!important;
}
.mouseleave{
    border: 1px solid rgba(136,136,136,0.4)!important;
}
.click{
    border: 2px solid #0070c9!important;
}


.lunbo{
    overflow: hidden;
    width: 100%;
    height: 631px;
    background-color: #f1f1f1;
    padding-top:20px;
    position: fixed;
    top:0px;
    z-index: 1000;
    display: none;
}
.lunbo img{
    /* margin-top:20px; */
    width: 662px;
    height: 509px;
    display: block;
    margin:0 auto;
}
.swiper-pagination-bullet-active{
    background-color: #555!important;
}
.btn-guan{
    font-weight: 400!important;
    font-size:50px;
    position: absolute;
    left:25px;
    top:10px;
    color: #888;
    z-index: 1001;
    cursor: pointer;
}
.btn-right,.btn-left{
    position: absolute;
    top:250px;
    font-size: 50px!important;
}
.btn-left{
    left:30px;
    z-index: 1000!important;
    cursor: pointer;
    color: #888;
}
.btn-right{
    right: 30px;
    z-index: 1000!important;
    cursor: pointer;
    color: #888;
}
.swiper-pagination-bullet{
    margin-left:10px!important;
}

.xiaolan{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #1d9afd;
    position: absolute;
    right:189px;
    top:21px;
    display: none;
}